---
import Layout from "@/layouts/LayoutMinimalist.astro"

import About from "@/components/sections/AboutMinimalist.astro"
import Education from "@/components/sections/EducationMinimalist.astro"
import Experience from "@/components/sections/ExperienceMinimalist.astro"
import Hero from "@/components/sections/HeroMinimalist.astro"
import Projects from "@/components/sections/ProjectsMinimalist.astro"
import Skills from "@/components/sections/SkillsMinimalist.astro"
import KeyboardManager from "@/components/KeyboardManagerMinimalist.astro"

import { basics } from "@/CV/cv.json"
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
